.slide-events {
    max-width: 100%; /* El contenedor se ajustará al ancho de su contenedor padre */
  }
  
  .carousel-inner {
    max-height: 400px; /* Altura máxima del carrusel, ajusta según tus necesidades */
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .carousel-item img {
    max-width: 100%; /* Las imágenes se ajustarán al ancho del contenedor */
    height: auto; /* Las imágenes mantendrán su relación de aspecto */
  }