.topside {
  background-color: #AAAA10;
}
.imgnav {
  position: absolute;
  left: 4rem;
}
.login-text {
  margin-right: 10%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: large;
  text-decoration: none;
  color: black;
}
.logout-button:hover {
  cursor: pointer;
}
