.container-fluid {
  max-width: 100%; /* Establece el ancho máximo del contenedor al 100% del ancho de la pantalla */
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
}
.topside {
  background-color: #AAAA10;
}
.imgnav {
  position: absolute;
  left: 4rem;
}
.login-text {
  margin-right: 10%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: large;
  text-decoration: none;
  color: black;
}
.logout-button:hover {
  cursor: pointer;
}
