body {
  background-color: #f2f2dc76;
}

* {
  box-sizing: border-box;
}

.profile {
  margin-top: 5%;
}
.top {
  padding-top: 4%;
  padding-bottom: 2%;

  width: 75%;
}

/* ============================ */
/* ======= Accordions ========= */
/* ============================ */

.accordion {
  --bs-accordion-btn-bg: #d1d071;
  --bs-accordion-active-bg: #a09f34;
  --bs-accordion-active-color: white;
  --bs-accordion-bg: #f7f7e9;
}

/* ======================= */
/* ======= Login ========= */
/* ======================= */

/* Card styles */
.card {
  margin: auto;
  background-color: #ffffff;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 8rem; /* Add top margin for spacing between .card and the content above */
  margin-bottom: 8rem;
}

.login-card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  border-width: 4px;
  border-color: #108014;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .card,
  .login-card {
    width: 90%; /* Adjust width for smaller screens */
    max-width: none; /* Remove max-width for smaller screens */
  }
}

/* Left half (login form) styles */
.left-half {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Right half (image) styles */
.right-half {
  flex: 1;
}

/* Login form styles */
.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc; /* Input border color */
  border-radius: 5px; /* Optional: Add rounded corners to the input */
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Set button background color */
  color: #ffffff; /* Set button text color */
  border: none;
  border-radius: 5px; /* Optional: Add rounded corners to the button */
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #45a049; /* Button color on hover */
}

.login-logo {
  max-width: 50%; /* Restrict the image to fill exactly the left half */
  max-height: 100%; /* Ensure the image doesn't exceed the card's height */
  object-fit: cover; /* Resize the image to cover the container */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form .input-group {
  margin-bottom: 20px;
  width: 100%;
}
/* Style for the form container */
.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style for labels */
.login-form label {
  font-size: 16px;
  color: #333333;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

/* Style for input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 16px; /* Adjusted margin bottom */
  margin-right: 8px; /* Right margin added */
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Style for the login button */
.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #45a049;
}
.container-adminEmp {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.content-container {
  background: #f0f0f0;
  padding: 20px; /* Opcional: Agrega espacio alrededor del contenido */
}


.side {
  padding-right: 2%;
  padding-left: 2rem;
}
/* En tu archivo CSS (por ejemplo, estilos.css) */

.contenido-alternativa {
  display: none; /* Ocultar la imagen alternativa en pantallas grandes */
}
.carusel {
  width: 100%;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  min-height: 60vh;
}
.titulo {
  background-color: #cccccce7;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 70%;
  border-radius: 20px;
}
.color-nav-bar {
  background-color: #aaaa10be;
}
.color-perfil {
  background-color: #c7c7c7d8;
  margin-bottom: 5rem;
  margin-top: 0;
}
.perfil-contenido {
  margin-top: 3rem;
}
.puntos {
  margin-right: 2rem;
}

/* ====================== */
/* ======= Tags ========= */
/* ====================== */

.stylish-headline {
  font-family: "Roboto", sans-serif; /* Apply custom font */
  font-size: 72px; /* Set larger font size */
  font-weight: 700; /* Set font weight */
  color: #4caf50; /* Vibrant green color */
  text-align: center; /* Center align the text */
  text-shadow: 4px 4px 8px rgba(76, 175, 80, 0.8); /* Add a bold text shadow */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/* Add styles for the round-cornered checkboxes */
.interest-checkbox {
  display: inline-flex; /* Display checkboxes inline */
  align-items: center;
  margin-right: 20px; /* Add spacing between individual tags */
  margin-bottom: 20px; /* Add more spacing between rows of tags */
}

.interests-container {
  max-width: 1000px; /* Set a specific width */
  margin: 0 auto; 
  margin-top: 5rem;/* Center the container horizontally */
}

.interest-checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.interest-checkbox label {
  display: flex; /* Make the label a flex container */
  align-items: center; /* Center the checkbox and text vertically */
  border-radius: 5px; /* Set border radius for the label container */
  padding: 12px 16px;
  background-color: #4caf50; /* Set the background color for the label container */
  color: white; /* Set text color to white */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect for background color */
}

.interest-checkbox input[type="checkbox"]:checked + label {
  background-color: #43a047; /* Darker shade of the background color when checkbox is checked */
}
.marRight{
  margin-right: 100px;
}
.containerEventDetails{
  margin-right: 100px;
  margin-left: 100px;
}
